body {
    font-family: 'Roboto', sans-serif; 
}

.heading {
    text-align: center;
}
.heading a {
    text-decoration: none;
    font-weight: bold;
    color: black;
    font-size: 180%;
    background-color: white;
    padding-right: 3%;
    padding-left: 3%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    border: 5px solid #000000;
    border-radius: 9px;
    box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.25);

}

.content {
    margin-top: 5%;
    width: 100%;
    text-align: center;
}

.firstsec a {
    text-decoration: none;
    font-size: 180%;
    font-weight: bold;
    color: #FFD754;
    background-color: rgb(15, 15, 15);
    margin-left: 15%;
    margin-right: 15%;
    padding-right: 3%;
    padding-left: 3%;
    padding-top: 1%;
    padding-bottom: 1%;
    border-radius: 9px;
    box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.25);
}

.firstsec a:hover {
    font-size: 200%;
    transition: 0.1s;
}

.secondsec {
    margin-top: 7%;
}

.secondsec a {
    text-decoration: none;
    font-size: 180%;
    font-weight: bold;
    color: #FFD754;
    background-color: rgb(15, 15, 15);
    margin-left: 14%;
    margin-right: 14%;
    padding-right: 3%;
    padding-left: 3%;
    padding-top: 1%;
    padding-bottom: 1%;
    border-radius: 9px;
    box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.25);
}

#chemistry {
    padding-right: 3%;
    padding-left: 3% ;
}

#ict {
    padding-right: 5%;
    padding-left: 5% ;
}

.secondsec a:hover {
    font-size: 200%;
    transition: 0.1s;
}

.thirdsec {
    margin-top: 7%;
}

.thirdsec a {
    text-decoration: none;
    font-size: 170%;
    font-weight: bold;
    color: #FFD754;
    background-color: rgb(15, 15, 15);
    margin-left: 16%;
    margin-right: 14%;
    padding-right: 1%;
    padding-left: 1%;
    padding-top: 1%;
    padding-bottom: 1%;
    border-radius: 9px;
    box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.25);
}

.thirdsec a:hover {
    font-size: 190%;
    transition: 0.1s;
}